*{
    --white: #FFFFFF;
    --pink: #fecfd1;
    --green: #9AD253;
    --light-green: #CCF1A7;
    --black: #000000; 
}

body{
    background-color: var(--pink);
}

p{
    font-size: 36px;
    font-family: "Imprima", sans-serif;
    text-align: center;
}

.home{
  margin: auto;
  width: 100%;
  
}
.title > h1{
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: #9AD253;
    border-radius: 7px;
    border: 3px solid black;

    font-size: 100px;
    font-family: "Hepta Slab", serif;
    font-weight: 1000;
    color: var(--white);
    font-weight: 400;
}

.container_home{
    display: flex;
    margin:auto;
    justify-content: center;
}

.box01{
    padding-right: 20px;
}

.box03{
    padding-left: 20px;
}

#start-button{
    background-color: var(--green);
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
}

#start-button > a {
    text-decoration: none;
    color: var(--white);
    font-family: "Imprima", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

#start-button:hover{
    border-width: 4px;
    border-color: var(--white);
    background-color: var(--light-green);
    letter-spacing: 2px;
    font-weight: 550;
}



/*///////////////////////////////////////////
/////////// DRESS UP GAME CONTENT ///////////
///////////////////////////////////////////*/
.wrapper{
    position:relative;
}

.empty{
    position: relative;
    height: 100px;
}
.dress-text{
    position: absolute;
    width:500px;
    z-index: 1;
    top: 50%;
    left:50%;
    transform: translate(-80%, -300%);

}

.dress-text > h2{
    height:10px;
    font-family: "Hepta Slab", serif;
    font-size: 60px;
    color: var(--green);
    /*
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: var(--black);
    */
}


.container_dress{
    position: absolute;
    z-index: 4; /* put .gold-box above .green-box and .dashed-box */
    background: inherit;
    top: 3em;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
    height: 480px;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.box{
    
    position: relative;
    z-index:0;
    width: 540px;
    height: 460px;
    border: 3px solid var(--black);
    background-color: var(--white);
    border-radius: 15px;

    left: 50%;
    top: 210px;
    transform: translate(-50%, -50%);

}

.shadow{
    position:absolute;
    z-index:0;

    width:255px;
    height:70px;
    border-radius:50%;

    background-color: #ffa3b4;

    left: 50%;
    top: 50%;
    transform: translate(-42%, 420%);

}


.box1 {
    width: min-content;
    padding-left: 80px;
    padding-top: 45px;
    }

.box1 > button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.box1 > button:hover{
    filter: brightness(1) hue-rotate(260deg);
    
}

.box1 > button:active{
    filter: hue-rotate(240deg) brightness(0.75) saturate(150%);
}

.box1 > button > img{
    width:85px;
}

.box2 {
    justify-content: center;
    width: 380px;
    padding-left:45px;
}

.box3 {
    padding-left: 20px;
    width: min-content;
}

.box3 > button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.box3 > button:hover{
    filter: brightness(1) hue-rotate(260deg);
    
}

.box3 > button:active{
    filter: hue-rotate(240deg) brightness(0.75) saturate(150%);
}

.box3 > button >img{
    width: 80px;
    
}

.box4{
    width: min-content;
}

.box4 > img{
    width: 60px;
}

.button > button{
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-230%, -10%);

    background-color: var(--green);
    border-radius: 15px;
    padding: 10px;
    border: 3px solid black;
}

.button > button > a{
    color:white;
    text-decoration: none;
    font-family: "Imprima", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

/*
#start-button{
    background-color: var(--green);
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
}

#start-button > a {
    text-decoration: none;
    color: var(--white);
    font-family: "Imprima", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

#start-button:hover{
    border-width: 4px;
    border-color: var(--white);
    background-color: var(--light-green);
    letter-spacing: 2px;
    font-weight: 550;
}
*/
/*/////////////////////////////// 
///////////// images //////////// 
///////////////////////////////*/


#arrow1{
    margin-top: 20px;
}

#arrow2{
    margin-top: 15px;
}

#arrow3{
    margin-top:px;
}

#arrow4{
    margin-top: 160px;
}

#tag_hair{
    padding-top: 35px;
}

#tag_shirt{
    padding-top: 40px;
}

#tag_pant{
    padding-top: 25px;
}

#tag_shoe{
    padding-top: 175px;
}

/*///////////////////////////////////////////
//////////////// GAME IMAGES ////////////////
///////////////////////////////////////////*/
#background{
    position: relative;
    
}

#base{
    z-index:4;
    position:absolute;
    width: 400px;
}

#hairback{
    z-index: 3;
    position: absolute;
}

#hairbackImg{
    
    width: 400px;
}

#hairfront{
    z-index: 5;
    position: absolute;
}

#hairfrontImg{
    width:400px;
}

#shirt{
    z-index: 5;
    position: absolute;
}

#shirtImg{
    width:400px;
    opacity: 0%;
}

#pants{
    z-index: 5;
    position: absolute;
}

#pantsImg{
    width:400px;
    opacity: 0%;
}

#shoes{
    z-index: 4;
    position: absolute;
}

#shoesImg{
    width:400px;
    opacity: 0%;
}